[package]
name = "rust-playground"
version = "0.1.0"
edition = "2021"

[dependencies]
csv = "1.3.1"
rayon = "1.10.0"
text-to-ascii-art = "0.1.5"
fake = { version = "4", features = ["derive", "uuid", "time"] }
figlet-rs = "0.1.5"
